.container {
  margin: 0.5em 1em;

  /* border: solid 1px gray; */
  padding: 1em 0.5em;
  max-width: 480px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.11);
}

.follower {
  color: #000;
  justify-content: space-between;
  display: flex;
  align-items: center;

  > span span {
    margin-left: 0.5rem;
  }
}

.header {
  font-size: 1.5rem;
}

.date {
  font-size: 0.8rem;
  font-style: italic;
}
