.container {
  margin: 0 auto;
  border: solid 1px gray;
  padding: 1em;
  max-width: 480px;
}

.follower {
  color: #000;
  justify-content: space-between;
  display: flex;
  align-items: center;

  > span span {
    margin-left: 0.5rem;
  }
}

.header {
  font-size: 1.5rem;
}

.date {
  font-size: 0.8rem;
  font-style: italic;
}
