.layer {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: auto;

  @media only screen and (min-width: 45em) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media only screen and (max-width: 30em) {
    &:not(.hidden) + div {
      /* div is probably wrong */
      left: -100%;
      right: 100%;
      z-index: -1;
      position: fixed;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;

    @media only screen and (max-width: 30em) {
      padding: 0 1rem;
      min-height: 100%;
      min-width: 100%;
    }

    @media only screen and (min-width: 45em) {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      overflow: auto;
      padding: 0 2rem;
      border-radius: 5px;
      box-shadow: none;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      form {
        max-width: 100vw;
      }
    }
  }
}

.hidden {
  position: fixed;
  width: 100%; /* bg shrinks without it, maybe change on layout */
}

.layer .hidden {
  left: -100%;
  right: 100%;
  z-index: -1;
  position: fixed;
}

.layer:not(.hidden) {
  @media screen and (min-width: 45em) {
    .container {
      bottom: 50%;
      right: 50%;
      max-height: calc(100vh - 2em);
      max-width: calc(100vw - 2em);
      transform: translate(50%, 50%);
    }
  }
}
