.container {
  margin: 0 auto 2em;
  padding: 1em;
  background-color: rgba(125, 115, 195, 0.13);
  border-radius: 12px;
  color: #666;
  justify-content: center;
  max-width: 480px;
}

.notification {
  background-color: transparent;
}

.deleted {
  opacity: 0.3;
}
