/* stylelint-disable */
@import '../../components/variables.css';
/* stylelint-enable */

.root {
  margin: auto;
  max-width: var(--max-content-width);
}

a:link,
a:visited {
  text-decoration: none;
}

.pollState {
  width: 100%;
}

.pollPreview {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #666;
  font-size: 1.825em;
  min-width: 2.5em;
  justify-content: center;
  min-height: 3.5em;
}

.container {
  margin: 0 auto;

  /*  border: solid 1px gray; */
  padding: 0.4em;

  /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */

  /* border-bottom: solid 1px #666; */

  /* box-shadow: #666 1px 1px 1px; */
}

.header {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25em;
  padding-top: 0;
  color: black;
  word-break: break-word;
}

.header:hover {
  color: #7f4d4e;
}

/*
.title {
  font-weight: bold;
  padding-top: 0;
  color: black;
  position: relative;
}
*/
.date {
  text-align: left;
  font-size: 0.8em;
  font-style: italic;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  font-size: 0.8em;
  color: black;
}

.tag {
  margin: 0 0.3em 0.3em;
  padding: 0 0.3em;
  background-color: rgba(37, 20, 155, 0.21); /* #7f4d4e */
  color: #666; /* #f9e793 */
  height: 2em;
  line-height: 2em;
  cursor: pointer;

  /*  border: solid 1px gray;
  border-radius: 3px; */
}

.tag:hover {
  background-color: rgba(37, 20, 155, 0.5); /* #7f4d4e */
}
