@import '../../components/variables.css';

/*
.bigCards {
  .card {
    max-width: none;
    margin: 0;
    flex-basis: 100%;
  }

  .cardBlack {
    flex-basis: 100%;
  }
}

.card {
  max-width: 25em;
  flex: 1 0 24em;
  margin: 1em 0;
}

.cardBlack {
  flex: 1 0 24em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #333;

  height: 75vh;
  border-radius: 6px;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}
*/

.motivation {
  text-align: center;
  padding-bottom: 3em;
}

.featureCard {
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
  font-size: 1rem;
  text-align: center;
  flex-basis: 33%;
  max-width: 26rem;
  padding: 2rem;
}

.dynContent {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 2vw, 100% 100%, 0 100%);
  background-color: var(--color-brand-light-shade-3);
  margin-top: 3em;
}

.dictionary {
  margin-top: -4em;
  padding: 4em 0;
  clip-path: polygon(0 0, 100% 2vw, 100% 100%, 0 calc(100% - 2vw));
  background-color: var(--color-brand-light-shade-1);
}

.action {
  flex-basis: 33%;
  padding: 2em;

  svg {
    margin-right: 0.5em;
  }
}

.action:hover {
  box-shadow: 0 4px 12px rgba(36, 39, 41, 0.2);
}

.stepCard {
  background-color: #fff;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

.divider {
  width: 8em;
  height: 0.4em;
  background: var(--color-brand);
}

.fixGap {
  margin-top: -3.5em;
}

.explanation {
  max-width: 40rem;
  font-size: 1.18rem;
  width: 80%;

  @media only screen and (max-width: 35rem) {
    font-size: 1rem;
  }
}

/* .hero {
  padding: 2em 0;
  background-image: url('/voting_picture_blue.jpeg');
  height: 25em;
  justify-content: flex-end;

  div {
    color: #fff;
    background-color: #1d1d2bc7;
    border-radius: 6px;
    padding: 1em;
  }
} */
.lower {
  margin-top: 3rem;
}

.special {
  width: 80%;
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
}

.tag {
  background-color: #414c7d;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  display: inline;
}

.tileDetails {
  font-weight: 600;
  padding: 0 1em;
  color: var(--color-brand);
  display: flex;
  justify-content: space-between;

  svg {
    margin-right: 0.5em;
  }
}

/*
.proposals {
  align-items: center;
  background-size: auto;
  justify-content: center;
  height: 10em;

  /* background-image: url('https://images.unsplash.com/photo-1495291916458-c12f594151e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); */

/* background-image: url('/lightbulb_yellow.jpeg');

  h1 {
    color: #fff;
    font-weight: 900;
    border: 10px solid #fff;
    padding: 0.5em;
    border-radius: 20px;
  }

  div {
    margin: 0;
  }
} */
