@import '../../components/variables.css';

.bigCards {
  .card {
    max-width: none;
    margin: 0;
    flex-basis: 100%;
  }

  .cardBlack {
    flex-basis: 100%;
  }
}

.card {
  /* max-width: 25em; */
  flex: 1 0 24em;
  margin: 1em 0;
}

.cardBlack {
  flex: 1 0 24em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #333;

  /* height: 75vh; */
  border-radius: 6px;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

.hero {
  padding: 2em 0;
  background-image: url('/voting_picture_blue.jpeg');
  height: 25em;
  justify-content: flex-end;

  div {
    color: #fff;
    background-color: #1d1d2bc7;
    border-radius: 6px;
    padding: 1em;
  }
}

.proposals {
  align-items: center;
  background-size: auto;
  justify-content: center;
  height: 10em;

  /* background-image: url('https://images.unsplash.com/photo-1495291916458-c12f594151e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); */
  background-image: url('/lightbulb_yellow.jpeg');

  h1 {
    color: #fff;
    font-weight: 900;
    border: 10px solid #fff;
    padding: 0.5em;
    border-radius: 20px;
  }

  div {
    margin: 0;
  }
}
