.dettCard {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #333;
  display: flex;

  /* height: 75vh; */
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  max-width: 28em;

  h2 {
    color: #fff;
    text-align: center;
  }
}

.imgContainer {
  margin: -2rem -2rem 1rem -2rem;
}

.wrapper {
  position: relative;
  height: 0;

  /* Formula is: (height / width * 100%) */
  padding-bottom: 41.74%; /* calc(192 / 460 * 100%); */
}

.footer {
  align-self: center;

  svg {
    padding: 0 0.5em;
  }
}

.wrappedImg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}
