@import '../../components/variables.css';

.root {
  /* box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.11); */
  padding: 1em;
  height: 100%;
  min-width: 25em;
  border-radius: 6px;
  border: 3px solid var(--color-four);
}

.small {
  background-image: linear-gradient(to bottom, var(--color-brand), #4d702fdb);
  min-width: 0;
  border: none;

  fieldset {
    box-shadow: 0 4px 16px 0 #3333337a;
  }

  .or {
    color: #fff;
  }
}

.signup {
  background-color: var(--color-four);
  color: #fff;
  border-color: var(--color-four);
}

.signup:hover {
  box-shadow: 0 0 0 2px var(--color-four) !important;
}

.or {
  color: #000;
  text-align: center;
  width: 100%;
}

.formGroup {
  margin-bottom: 1em;
  padding: 1.5em 1.5em 0.5em;
}
