.name {
  margin-left: 68px;
  line-height: 45px;
}

.suggestionContent {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.coordinator {
  text-align: right;
}

.team {
  text-align: left;
}

.members {
  text-align: center;
}

.workTeams {
  width: 100%;

  th,
  td {
    border-bottom: 1px solid #ddd;
  }

  tr {
    height: 3em;
    vertical-align: center;
  }
}
