.coordinator {
  text-align: right;
}

.team {
  text-align: left;
}

.members {
  text-align: center;
}

.groups {
  width: 100%;

  th,
  td {
    border-bottom: 1px solid #ddd;
  }

  tr {
    height: 3em;
    vertical-align: center;
  }
}

.userList {
  width: 100%;

  tr {
    height: 3em;
    vertical-align: center;
    cursor: pointer;
    text-align: center;
  }
}
