@import '../../components/variables.css';

.status {
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.accepted {
  fill: var(--color-green);
}

.repelled {
  fill: var(--color-red);
}

.active {
  fill: var(--color-alert);
}

.statusIcon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  justify-content: center;
  padding-top: 4px;
}
