@import '../../components/variables.css';

.root {
  border: solid 1px gray;
  padding: 0.4em;
  margin: 0.1em 0.1em 0.4em;
  font-size: 0.9em;
}

.author {
  font-weight: bold;
}

.avatar {
  float: left;
  margin-right: 0.5em;
  width: 2.5em;
}

.likes {
  float: right;
  font-style: italic;
  font-size: 0.9em;

  .liked {
    /* background-color: green; */
    font-weight: bold;
  }
}

.pro {
  margin-right: 10%;
  background-color: #fafffa;
}

.contra {
  margin-left: 10%;
  background-color: #fffafa;
}

.text {
  margin-left: 3em;
}

.textEdit {
  font-family: var(--font-family-base);
  width: 99%;
  height: 2.8em;
}
