.background {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  /*  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  */
}

/*
.foreground {
  position: absolute;
  z-index: 1;
  flex: 1 1;
}
*/
