{{#extend "layout"}}

  {{#content "main"}}
    <p>
      <strong> {{t "greeting"}} {{name}}</strong>
    </p>
    <p>
      {{ t "resetNotification"}}
    </p>
    <p>
      <strong>{{ t "bestRegards"}}</strong><br>
      Company Name
    </p>
  {{/content}}

{{/extend}}
