@import '../variables';

.mark {
  background-color: var(--color-accent-3-shade);
}

.root {
  padding: 0.1em 0.3em;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: #666;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  img {
    width: 1em;
    height: 1em;
  }
}
