@import '../variables';

.mark {
  background-color: var(--color-four-dark-shade);
  color: #fff;
  stroke: #fff;

  span {
    color: #fff;
  }
}

.big {
  font-size: 1.1825em;
}

.root {
  padding: 0.1em 0.3em;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  outline: none;
  color: #666;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.root:active {
  color: white;
  background-color: var(--color-clicked);
}

.thumbnail {
  min-width: 1em;
  width: 1em;
  height: 1em;
  stroke: #aaa;
}
