@import '../variables';

.mark {
  background-color: var(--color-accent-3-shade);
}

.big {
  font-size: 1.1825em;
}

.root {
  padding: 0.1em 0.3em;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: #666;
  outline: none;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.thumbnail {
  width: 1em;
  height: 1em;
  stroke: #aaa;
}
