@import '../../components/variables.css';

.followeeBlock {
  width: 40%;

  img {
    cursor: pointer;
  }
}

.contra {
  text-align: right;
}

.followee {
  width: 2em;
  margin-right: 0.2em;
  stroke: #bbb;
}

.confirmationBox {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.votes {
  padding: 0 1em;
  width: 100%;
}

.active {
  background-color: #eee;
}
