@import '../../components/variables.css';

.pollState {
  margin-top: 1em;
  padding: 0.2em;

  /* border: solid 1px var(--color-border);
  border-radius: var(--border-radius); */
}

.followeeContainer {
  margin: 0.4em -0.2em;
  display: flex;
  justify-content: space-between;
}

.followeeBlock {
  width: 40%;

  img {
    cursor: pointer;
  }
}

.contra {
  text-align: right;
}

.proBtnColor {
  background: var(--color-green);
}

.conBtnColor {
  background: var(--color-red);
}

.followee {
  width: 2em;
  margin: 0.2em;
  stroke: #bbb;
}

.confirmationBox {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
