@import '../../components/variables.css';

.pollState {
  margin-top: 1em;
  padding: 0.4em;
  background-color: #eee;
  height: 0.6em;
}

.followeeContainer {
  margin: 0.4em -0.2em;
  display: flex;
  justify-content: space-between;
}

.followeeBlock {
  width: 40%;
}

.contra {
  text-align: right;
}

.followee {
  width: 2em;
  margin: 0.2em;
}
