@import '../../components/variables.css';

.closed {
  display: none;
}

.open {
  display: block;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  outline: none;
  border: transparent;
  border-radius: 0;
  background: transparent;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.3333333em;
  cursor: pointer;
}

.box {
  flex-direction: column;
  flex: 0 0 auto;
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  align-items: center;
  min-height: 4em;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.listItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
