@import "../../components/variables.css";

.item {
  max-width: none;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
}

.item:hover {
  background-color: var(--color-accent-3-shade);
}
