@import '../variables.css';

.container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  stroke: #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.bottomUp {
  animation: bottom-toast-raise 1s;
}

.topDown {
  animation: toast-lower 1s;
}

.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 72px;
  background-color: var(--color-brand-light-shade-1);
  padding: 0 1rem;
  animation-fill-mode: forwards;
}

.alert {
  background-color: var(--color-two);
  color: #fff;
  stroke: #fff;
}

@keyframes toast-lower {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes toast-raise {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes bottom-toast-raise {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes bottom-toast-lower {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

.closeRaiseUp {
  animation: toast-raise 1s;
  animation-fill-mode: forwards;
}

.closeLowerDown {
  animation: bottom-toast-lower 1s;
  animation-fill-mode: forwards;
}

.contents {
  flex: 1;
  padding-right: 1rem;
}
