@import '../variables';

.drop {
  position: absolute;
  background-color: rgb(248, 248, 248);
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

  /* box-shadow: none; */
  z-index: 20;
  border-radius: 4px;
  overflow-y: auto;
}

.container {
  padding: 1em;
}

.notification {
  cursor: pointer;
  display: flex;
  padding: 0.3em;
  border-radius: 8px;
  font-size: 1.2em;
  color: #000;
  stroke: var(--color-brand-light-shade-3);
}

.unread {
  color: #fff;
  stroke: #fff;
  background-color: var(--color-brand-light-shade-2);

  /* background-color: #ff324d; */
}

.active {
  color: var(--color-five);
}
