@import '../variables.css';

.header {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25em;
  padding-top: 0;
  color: black;
}

.header:hover {
  color: #7f4d4e;
}

/*
.title {
  font-weight: bold;
  padding-top: 0;
  color: black;
  position: relative;
}
*/
.date {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
