@import '../variables.css';

.header {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25em;
  padding-top: 0;
  color: black;
}

.date {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
