@import '../variables.css';

.header {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25em;
  padding: 1em 0;
  color: #222;
}

.date {
  display: inline;
  float: right;
  font-size: 0.8em;
  font-style: italic;
}

.footer {
  svg {
    padding-right: 1em;
  }
}
