.selected {
  color: #000;
  background-color: rgba(150, 8, 150, 0.3);
}

.active {
  background-color: rgba(150, 8, 150, 0.3);
}

.options {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.select {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.select_drop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select_option {
  min-height: 36px;
  padding: 6px 0;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.select_control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
}

.drop {
  position: absolute;
  background-color: rgba(248, 248, 248, 0.95);
  border: none;
  box-shadow: none;
  z-index: 20;
  border-radius: 4px;
  overflow: auto;
}

.select_drop .select_option {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
  color: #666;
  color: #333;
  padding: 6px 24px;
}

.select_drop .select_option:hover {
  background-color: rgba(150, 8, 150, 0.3);
}

.input {
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  width: 100%;
  padding-right: 60px;
  cursor: inherit;
  pointer-events: none;
}
