@import "../../components/variables.css";

.rootAlt {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  transition: margin 0.5s;
  color: #000;
}

.details {
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 600;
}

.avatar {
  display: inline-block;
  cursor: pointer;
}

.replies {
  margin-left: 3rem;
}

.replies > div {
  margin-top: 1rem;
}

.date {
  color: #666;
  font-size: 0.9rem;
}

.bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.avatar {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.text {
  -ms-word-break: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
  line-height: 1.3rem;
  width: 100%;
  display: inline-block;
}

.collapsed {
  max-height: 3.9rem;
  overflow: hidden;
}

.expanded {
  max-height: none;
}

.contentToggle {
  margin: -8px 0 10px;
  cursor: pointer;
  padding: 0;
  border: none;
  height: auto;
  background: transparent;
  color: #167ac6;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  box-shadow: none;
  outline: 0;
  display: inline-block;
}

.command {
  cursor: pointer;
  padding: 0;
  border: none;
  height: auto;
  background: transparent;
  color: #167ac6;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  box-shadow: none;
  outline: 0;
  display: block;
}

.contentToggle:hover {
  text-decoration: underline;
}

.textEdit {
  font-family: var(--font-family-base);
  width: 99%;
  line-height: 1.3rem;
  box-sizing: border-box;
}

/* .inactive {
  .avatar {
    opacity: 0.5;
  }

  .textEdit {
    height: 1.2rem;
  }
} */
