.root {
  padding-top: 2em;
  padding-bottom: 2em;
  flex-wrap: wrap;
}

.profile {
  margin: 0 1em !important;
  flex: 1 0 50%;
  box-sizing: border-box;
}

.details {
  min-width: 13em;
  flex: 1 0 50%;
  box-sizing: border-box;
}

/*
.groups {
  text-align: center;
}

*/
