@import '../variables.css';

.root {
  max-width: var(--max-content-width);
}

.menu a {
  width: 100%;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  color: #000;
}

.menu {
  display: none;
}

@media only screen and (max-width: 40em) {
  .menu {
    position: relative;
    display: block;
  }
}
