.list {
  margin: 1rem 0;

  > div {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.11);
  }

  > div:not(:last-child) {
    margin: 0 0.5rem 1.5rem;
  }
}
