@import '../variables.css';

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.25em;
}

.heading {
  line-height: 1.125;
  font-weight: 300;
  max-width: 100%;
  color: var(--color-brand-dark-shade);
}

.strong {
  font-weight: 600;
}
