@import '../../components/variables.css';

.root {
  border-bottom: 3px solid #ff9a0d;
  border-radius: 3px;
  text-align: center;
  padding-bottom: 1em;

  > span {
    text-transform: uppercase;
  }
}
