@import '../../components/variables.css';

.root {
  display: flex;
  border-bottom: 3px solid var(--color-one);
  border-radius: 3px;
  text-align: center;
  padding: 1em 0;
  justify-content: center;

  div {
    background-color: var(--color-five);
    padding: 1em;
    border-radius: 6px;

    > span {
      color: #fff;
      text-transform: uppercase;
    }
  }
}
