@import '../../components/variables.css';

.root {
  background-color: var(--color-red);
  border-radius: 3px;
  text-align: center;
  padding: 0.3em;

  > span {
    text-transform: uppercase;
  }
}
