.value {
  font-weight: 500;
  font-size: 2.25rem;
}

.container {
  display: inline-block;
}

.valueContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.valueContainer svg {
  display: inline-block;
  fill: #666;
  stroke: #666;
  flex: 0 0 auto;
  margin-bottom: 12px;
}
