@import '../../components/variables.css';

.root {
  font-size: 1em;
  margin: auto;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.barContainer {
  width: 100%;
  height: 0.6em;
  outline: solid 1px #555;
}

.compact {
  &.root {
    cursor: default;
  }

  .barContainer {
    height: 0.1em;
  }
}

/*
.voteCount {
  flex-grow: 0;
  height: 100%;
  margin: 0 0.2em;
} */

.bar {
  height: 100%;
  transition: width 0.5s;
}

.threshold {
  position: relative;
  top: -100%;
  height: 100%;
  width: 0;
  outline: solid 1px black;
}

.unipolar {
  .barContainer {
    background-color: #ddd;
  }

  .bar {
    background-color: var(--color-accent-2);
  }
}

.bipolar {
  .barContainer {
    background-color: #ff324d;
  }

  .bar {
    background-color: #8cc800;
  }
}

.votesList {
  margin: 0.5em 0 0;
}
