@import '../../components/variables.css';

:root {
  --bar-height: 0.6em;
}

.root {
  display: flex;
  border: solid 1px gray;
  margin-top: 1em;
  font-size: 1em;
  padding: 0 0.5em;
}

.barContainer {
  height: var(--bar-height);
  width: 100%;
  border: solid 1px #555;
  margin: auto 0.5em;
}

.votes {
  flex-grow: 0;
}

.bar {
  height: 100%;
}

.threshold {
  position: relative;
  border-left: solid 2px #555;
  height: 100%;
  margin-top: -var(--bar-height);
}

.unipolar {
  .barContainer {
    background-color: #ddd;
  }

  .bar {
    background-color: yellow;
  }
}

.bipolar {
  .barContainer {
    background-color: red;
  }

  .bar {
    background-color: #0c2;
  }

  .threshold {
    border-right: solid 2px #555;
  }
}
