@import '../../components/variables.css';

.root {
  font-size: 1em;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
}

.barContainer {
  width: 100%;
  height: 0.6em;
  outline: solid 1px #555;
}

.compact {
  .barContainer {
    height: 0.3em;
  }
}

.voteCount {
  flex-grow: 0;
  font-size: 2vh;
  height: 100%;
  margin: 0 0.2em;
}

.bar {
  height: 100%;
  transition: width 0.5s;
}

.threshold {
  position: relative;
  top: -100%;
  border-left: solid 2px #555;
  height: 100%;
  transition: opacity 0.5s, background-color 0.5s;
}

.greyZone {
  opacity: 0.4;
  background-color: #ddd;
}

.unipolar {
  .barContainer {
    background-color: #ddd;
  }

  .bar {
    background-color: yellow;
  }
}

.bipolar {
  .barContainer {
    background-color: red;
  }

  .bar {
    background-color: #0c2;
  }

  .threshold {
    border-right: solid 2px #555;
  }
}

.votesList {
  margin: 0.5em 0 0;
}
