@import '../variables';

.root {
  color: #000;
  width: 100%;
}

.unread {
  background-color: beige;
  border: 2px solid #f00;
}

.container {
  display: flex;

  img {
    width: 42px;
    height: 42px;
  }
}

.content {
  margin-left: 1em;
}

.important {
  font-weight: 600;
  margin: 0.1em 0;
  color: var(--color-accent-3);
}

.date {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}
