@import '../variables';

.root {
  color: #000;
  width: 100%;
  outline: none;
}

.unread {
  background-color: var(--color-brand-light-shade-3);
  border: 2px solid var(--color-four);
  border-radius: 6px;
  margin: 0 0.5em;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 1em;

  img {
    width: 42px;
    height: 42px;
  }
}

.unread .container {
  margin: 0 0.5em;
}

.content {
  margin-left: 1em;
}

.important {
  font-weight: 600;
  margin: 0.1em 0;
  color: var(--color-four);
}

.date {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}
