.logo {
  width: 9rem;
  height: 9rem;
  border: 3px solid #fff;
  border-radius: 6px;
  background-color: #fff;
}

.itemContainer > div {
  margin: 0.5em 1em;

  /* border: solid 1px gray; */
  padding: 1em 0.5em;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.11);
}
