.check {
  width: 24px;
  height: 24px;
  stroke: #930793;
  stroke-width: 4px;
  display: none;
}

.checkbox {
  margin-right: 12px;
  white-space: nowrap;
}

.checkbox:not(.disabled) {
  cursor: pointer;
}

.control {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  border: 2px solid #666;
  border-radius: 4px;
  border-color: #930793;
}

.label {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  white-space: normal;
  margin-right: 24px;
  word-break: break-word;
}

.input {
  opacity: 0;
  position: absolute;

  &:checked + .control {
    .check {
      display: block;
    }

    + .label {
      color: #000;
    }
  }
}

.input:checked + .control {
  .label {
    color: #000;
  }
}

.disabled {
  .control {
    opacity: 0.5;
  }
}

/*
.checkBox .toggle {
  width: 48px;
  height: 24px;
  border-radius: 24px;
  background-color: rgba(51, 51, 51, 0.2);
  border: none;
  transition: background-color 0.3s;
}
*/

/*
.label {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  white-space: normal;
  margin-right: 24px;
  word-break: break-word;
} */
