.root {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
}

.root:not(.column) > *:not(:last-child) {
  margin-right: 24px;
}

.root.column.pad > *:not(:last-child) {
  margin-bottom: 24px;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
  outline: none;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  flex: 1 0;
}

.root legend {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.medium {
  padding: 3rem;
}

.small {
  padding: 1rem;
}
