
.root {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.root:not(.column) > *:not(:last-child) {
  margin-right: 24px;
}

.column {
  flex-direction: column;
}

.clickable {
  cursor: pointer;
  outline: none;
}
