.uploader {
  border-width: 2px;
  border-color: #333;
  border-style: dashed;
  border-radius: 4px;
  transition: all 0.5s;
  width: 15rem;
  padding: 3rem 0;
  background-color: #eee;
}

.container {
  padding: 2rem 0;
}

.input {
  display: none;
}

.closerBtn {
  position: absolute;
  top: 0;
  right: 0;

  span {
    padding: 1px !important;
  }
}

.active {
  border-color: #8cc800;
  border-style: solid;
}

.preview {
  position: relative;
  margin: 0.5rem;
  width: 48px !important;
  height: 48px !important;
  box-sizing: border-box;
}
