@import '../../components/variables.css';

.root {
  word-break: break-all;
  width: 100%;
  padding: 1em 0;
  max-width: 35em;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 4px 16px 0 rgba(103, 58, 183, 0.33);

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.preview {
  width: 100%;
  max-width: 35em;
  align-items: center;
  color: #666;
  display: flex;
  justify-content: space-between;

  img {
    height: 2em;
    width: 2em;
    border-radius: 6px;
    margin-left: 1em;
  }

  span {
    padding: 0.5em 1em;
  }
}

.subject {
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: #673ab7;
  color: #fff;
}

.content {
  padding: 0 1em;
}
